body{
    background-image: url("../images/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0px !important;
    margin: 0 !important;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #4B2500;
    height: auto;
    color: white !important;
    font-family: 'satisfy';
    align-items: center;
    border: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 20;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #d8c3a5;
}

#now_link{
    font-weight: bold;
    text-decoration: underline;
}

#header_left{
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    width: 30%;
}

#header_title{
    font-size: 3rem;
}

#header_right{
    display: flex;
    font-size: 2rem;
    width: 30%;
    justify-content: space-around;
}

footer{
    margin-top: 25px;
    background-color: black;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact_section{
    margin-top: 12px ;
    margin-bottom: 12px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.footer_icons{
    width: 50px;
}

h4{
    color: white;
    font-family: 'satisfy';
    font-size: 1.5rem;
}