body{
    background-image: url("../images/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0px !important;
    margin: 0 !important;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #4B2500;
    height: auto;
    color: white !important;
    font-family: 'satisfy';
    align-items: center;
    border: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 20;
    padding-left: 2rem;
    padding-right: 2rem;
}

#coffee_shop_logo{
    width: 5%;
    min-width: 125px;
}

.business_name{
    display: inline;
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #d8c3a5;
}

#now_link{
    font-weight: bold;
    text-decoration: underline;
    color: rgb(207, 99, 36);
}

#now_link:hover{
    color: white;
}

#header_nav{
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

footer{
    margin-top: 25px;
    background-color: black;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact_section{
    margin-top: 12px ;
    margin-bottom: 12px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.footer_icons{
    width: 50px;
}

h4{
    color: white;
    font-family: 'satisfy';
    font-size: 1.5rem;
}

@media(width <= 900px){
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    #header_title{
        width: 70%;
        text-align: center;
    }
    #contact_section{
        width: 100%;
    }
}

@media(width <= 596px){
    #header_title{
        width: 100%;
        text-align: center;
    }
    .business_name{
        display: none;
    }

    #header_nav{
        font-size: 1.5rem;
    }

    #contact_section{
        width: auto;
        gap: 1rem;
    }

}