#main_section{
    margin-top: 12px;
    display: flex;
    margin-bottom: 24px;
}

#coffee_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#coffee_picture{
    width: 75%;
}

#section_text{
   width: 40%;
   font-size: 3rem;
   color: #5a3f31;
   text-align: center;
   display: flex;
   align-items: center;
   padding-right: 48px;
}

#content_section{
    display: flex;
    justify-content:center;
}

#section_container{
    background-color: #241505;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    box-shadow: 0 0 34px white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.cards{
    background-color: #422C0E;
    border-radius: 12px;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1.5rem;
    border: 2px solid #d8c3a5;
    min-width: 275px;
    margin: 2rem;
}
.card_image{
    width: 50%;
    border-radius: 50%;
}
.card_text{
    text-align: center;
    padding: 5px;
}

h1{
    text-align: center;
    font-family: 'satisfy';
    font-size: 4rem;
    text-shadow: 2px 2px 2px white;
}

#carousel_container{
    display: flex;
    justify-content: center;
}

.carousel_image{
    border-radius: 24px;
    height: 80vh;
    width: 100vw;
    z-index: 10;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}

/* Code for responsiveness */

@media(width <= 900px){
    #main_section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .carousel_image{
        height: 50vh;
    }
    #section_text{
        width: 100%;
    }
    #section_container{
        width: 100vw;
        padding: 2rem;
    }
}

@media(width <= 576px){
    .cards{
        margin-left: 0;
        margin-right:0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .carousel_image{
        height: 30vh;
    }
}