h1{
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
}

.italics{
    font-style: italic;
}

.job_offers_row{
    display: flex;
    gap: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.job_card{
    border-radius: 14px;
    border: 4px solid white;
    text-align: center;
    background-color: rgb(128, 68, 52);
    padding: 2rem;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 300px;
}

.card_header{
    padding: 1.5rem;
}

.card_image{
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

.job_card:hover{
    transform: scale(1.05);
    background-color: rgb(211, 110, 90);
    cursor: pointer;
}   

h3{
    text-align: center;
}

@media(width <= 756px){

    h1{
        font-size: 2.5rem;
    }
    .job_offers_row{
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0;
        padding-bottom: 0;
        gap: 0;
    }

    .job_card{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        width: 100% !important;
    }

    .card_header{
        padding: 0;
    }

    .card_image{
        width: 74px !important;
    }
}