h1{
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
}

.italics{
    font-style: italic;
}

.job_offers_row{
    display: flex;
    gap: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.job_card{
    flex: 1;
    border-radius: 14px;
    border: 4px solid white;
    text-align: center;
    background-color: rgb(128, 68, 52);
    padding: 2rem;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card_header{
    padding: 1.5rem;
}

.card_image{
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
    min-width: 125px;
}

.job_card:hover{
    transform: scale(1.05);
    background-color: rgb(211, 110, 90);
    cursor: pointer;
}