#title_section{
    font-family: 'satisfy';
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(252, 127, 73, 0.921);
    text-align: center;
    margin-bottom: 4rem;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.bean_image{
    width: 100px;
}

.content_row{
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    margin-bottom: 3rem;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu_card{
    flex: 1;
    display: flex;
    padding: 2rem;
    border-radius: 24px;
    flex-direction: column;
    border: 2px solid white;
    background-color: 	#b08969;
    justify-content: end;
    align-items: center;
}

.card_title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
}

.card_image{
    width: 100%;
    border-radius: 12px;
    border-radius: 2px solid black;
    display: block;
    min-width: 250px;
}

.card_price{
    font-family: 'satisfy';
    font-size: 3rem;
    padding: 1rem;
}

.product_name_container{
    text-align: center;
}

.product_name{
    text-align: center;
    width: 100%;
    font-family: 'satisfy';
    font-size: 2.5rem;
    color: white;
}

@media(width <= 1300px){
    #title_section{
        margin-bottom: 2rem;
    }
    .content_row{
        margin-left: 4rem;
        margin-right: 4rem;
        gap: 1rem;
    }
    .menu_card{
        padding: 2rem;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .card_image{
        width: 35%;
        min-width: 200px;
    }
    .card_title{
        flex-direction: row-reverse;
    }
}

@media(width <= 576px){
    #title_section{
        margin-bottom: 1rem;
    }
    .card_title{
        flex-direction: column;
    }
    .card_price{
        font-size: 1.25rem;
    }
    .product_name{
        font-size: 1.75rem;
    }
}