#main_section{
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#vision_information{
    padding: 2rem;
    max-width: 60%;
}

#vision_image{
    width: 100%;
}

#info_text{
    font-size: 1.5rem;
}